name: Update proxy list

on:
  schedule:
    - cron: '0 */6 * * *'  # обновление каждые 6 часов
  workflow_dispatch:       # позволяет запустить вручную

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install requests beautifulsoup4

      - name: Update proxies
        run: python update_proxies.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Auto-update proxy list"
          git push
